* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

html, body {
	min-height: 100%;
}
#personheard{
	width:100%;
	height:200px;
	background: #2a2730
}
#heardtitle{
	color:#e1e1e1
}
dl{
	font-size: 18px;
}
p{
	font-size: 18px;
	color:#808080
}
.bs-docs-footer{
	margin-top:50px;
	background-color:#3d3744;
	color:#c0c0c0; 
	}